@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
   font-family: 'Work Sans', sans-serif;
   padding: 0px;
   margin: 0px;
}

/* nav section */

nav {
   background: #FFF;
   box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 150px;
   max-width: 1920px;
   height: 130px;

}

.project-logo {
   display: flex;
   align-items: center;
}

.project-icon {
   width: 4rem;
   height: 2rem;
   margin-right: 1rem;
}

.span {
   text-align: center;
   font-size: 40px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.gamer {
   text-align: center;
   font-size: 45px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.tiktok-icon {
   width: 24px;
   height: 24px;
   flex-shrink: 0;
}

.youtube-icon {
   width: 25px;
   height: 20px;

}


.nav-button {
   display: flex;
   color: #3C354F;
   font-size: 0.8rem;
   font-weight: 500;
   border: none;
   width: 200px;
   height: 45px;
   font-weight: 500;
   border-radius: 8px;
   background: rgba(11, 2, 35, 0.10);
   justify-content: space-evenly;
   align-items: center;
}

.about {
   display: flex;
   text-decoration: none;
   align-items: center;
   list-style: none;
   color: #3C354F;
   font-size: 0.8rem;
   font-weight: 500;
   margin-left: 21rem;

}

.about-us {
   margin-right: 1rem;
}

/* banner section */

.banner-container {
   max-width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 20px 150px 20px 0px;
   background: #FFF;

}

.banner-content {
   background: url(../images/Group\ 14.png);
   background-size: cover;
   width: 700px;
   height: 500px;
   flex-shrink: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.play {
   color: #0B0223;
   font-size: 2.5rem;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   text-transform: uppercase;
}

.goat {
   background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-align: center;
   font-family: Work Sans;
   font-size: 5rem;
   font-style: normal;
   font-weight: 800;
   line-height: normal;
   text-transform: uppercase;
}

.banner-description {
   color: #534C64;
   font-size: 1.2rem;
   font-style: normal;
   font-weight: 500;
   line-height: normal;
   text-transform: lowercase;


}

.button-container {
   display: flex;
 margin-top: 1.8rem;
}

.banner-button-one {
   border-radius: 2.5rem;
   background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
   padding: 21px 40px;
  border: 0;
  margin-right: 1.5rem;
  
}

.banner-button-two {
   border-radius: 48px;
   background: #4EC5F7;
   display: inline-flex;
   padding: 21px 40px;
   border: 0;
}

.banner-img {
   width: 450px;
   height: 500px;
}

.banner-button {
   display: flex;
}

@media screen and (max-width: 576px) {
   nav {
      flex-direction: column;
      margin-right: 150px;


   }

   .about {
      margin: auto;
   }



}